<div class="main-content">
    <div class="module_main_header">
        <div class="header_title">
          <h3>Grid view</h3>
        </div>
        <div class="btn-div">
          <button class="btn" (click)="Download()">Download CSV</button>
      </div>
    </div>
    <div class="main-section">
    <div>
      <ul class="heroes">
        <li *ngFor="let item of data  let i = index"  >
          <button [class.selected]="item === selectedHero" type="button" (click)="onSelect(item)">
            <span class="badge">{{i+1}}</span>
            <div class="section">
              <li class="list">
                <span class="name">{{item.name}}</span>
                <span class="name">{{item.dateOfBirth}}</span>
                <span class="name">{{item.gender}}</span> 
                <span class="name">{{item.house}}</span>
                <span class="name">{{item.actor}}</span>
              </li>
            </div>

          </button>
        </li>
      </ul>
    

    </div>
    <div *ngIf="selectedHero">
      <h2>{{selectedHero.name | uppercase}} Details</h2>
      <div class="details">
        <label for="hero-name"> name:{{selectedHero.name}} </label>
        <label for="hero-name"> DOB:{{selectedHero.dateOfBirth}} </label>
        <label for="hero-name"> Gender:{{selectedHero.gender}} </label>
        <label for="hero-name"> House:{{selectedHero.house}} </label>
        <label for="hero-name"> Actor:{{selectedHero.actor}} </label>
      </div>
    </div>
  </div>

</div>
